body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #DEE2E6;
}

#icon-image {
    padding-left: 0.5em;
}

.letra-nav {
    font-size: 1.5em;
    margin-right: 1em;
}

#quien-somos {
    margin-top: 2.5em;
}

#carousel-main {

    margin-top: 2.5em;
}
.fill-viewport-height{
    margin-top: 5em;
}
.margin-footer-l{
    margin-left: 2em;
}
.margin-footer-r{
    margin-right: 2em;
    margin-left: 6em;
}
.carta{
    margin-top: 1.5em;
}
.categoria{
    margin-top: 2em;
}
#container-menu{
    margin-top: 5.5em;
}
.map{
    margin-top: 1.8em;
}
iframe {
    max-width: 100%;
    height: 27em;
   }
   