body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #DEE2E6;
}

#icon-image {
    padding-left: 0.5em;
}

.letra-nav {
    font-size: 1.5em;
    margin-right: 1em;
}

#quien-somos {
    margin-top: 2.5em;
}

#carousel-main {

    margin-top: 2.5em;
}
.fill-viewport-height{
    margin-top: 5em;
}
.margin-footer-l{
    margin-left: 2em;
}
.margin-footer-r{
    margin-right: 2em;
    margin-left: 6em;
}
.carta{
    margin-top: 1em;
}